.diary-container
  .menu
    = "Заметка №#{@post.id}, #{@user.name || @user.email}"
    = link_to 'Просмотр', @post, class: 'icon-rocket'
    = link_to 'Назад ко списку', root_path, class: 'icon-tasks'
  .diary-wrapper
    %textarea#diary{ data: { id: @post.id } }= @post.body
